<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>

    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="wrap">

    <% unless flash.empty? %>
      <section id="application-alerts" class="row">
        <div class="column small-6 small-offset-3">
        <% flash.each do |message_type, message| %>
          <div class="callout <%= message_type %>">
            <p><%= message %></p>
          </div>
        <% end %>
        </div>
      </section>
    <% end %>

      <main class="row">
        <div class="column small-10 small-offset-1">
          <%= yield %>
          <div class="agpl-source-code">
            <p>This application is available libre and free (as in both speech and beer) under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">Affero GNU Public License</a></p>
            <p>&copy; 2018 <a href="https://www.flyinggrizzly.io">Sean Moran-Richards</a></p>
            <a href="https://github.com/flyinggrizzly/s301" class="agpl-source-code">Contribute, fork, or view the code for this app on Github</a>
          </div>
        </div>
      </main><!-- end .row -->
    </div><!-- end .wrap (around main) -->
    <% if Rails.env.development? %>
      <div class="row">
        <div class="column small-10 small-offset-1">
          <%= debug(params) %>
        </div>
        <%= console %>
      </div><!-- end .row (for debug) -->
    <% end %>
  </body>
</html>
